<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul>
                    <% products.forEach(p => { %>
                        <li>
                            <p><%= p.title %>(<%= p.cartItem.quantity %>)</p>
                            <form action="/cart-delete-item" method="POST">
                                <input name="productId" value="<%= p.id %>" type="hidden">
                                <button class="btn" type="Submit">Delete</button>
                            </form>
                        </li>
                    <% }); %>
                </ul>
                <div class="centered" style="margin-top: 2rem;">
                    <form action="/create-order" method="POST">
                        <button type="submit" class="btn">Order Now!</button>
                    </form>
                </div>
            <% } else { %>
                <h1>No products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>